@media only screen and (min-width: 992px)
{
    #contact_agence {
        position: fixed;
        right: 0;        
    }
}

/* FORMULAIRE EN BAS DE PAGE */
@media only screen and (max-width: 992px)
{
    #contact_agence {
        position: relative;
        margin: 10px 0 10px 0;
    }
}

/* FAIRE APPARAITRE LE BUTTON EN RESPONSIVE AU TOP ( mais pas encore lol ) */
@media only screen and (max-device-width: 992px)
{
    #contactAgenceButtonTop {
        display: block;
        color: #fff !important;
        position: absolute;
        right: 16%;
        height: 50px;
        line-height: 5px;
        width: 30%;  
    }
    #contactAgenceButtonTop a {
        color: #fff;
    }
    #contactAgenceButtonTop i {
        color: #fff;
    }
}