/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
nav.navbar {
    border-bottom: solid 1px grey;
}
/*********** HEADER ****************/
#header a:hover{
    transition: 400ms;
    /* color: red; */
}
/* ANIMATION SUR LE TITRE */
@keyframes wheelHueColor {
    from, to { color: hsl(324, 70%, 45%); }
    10%      { color: hsl(360, 65%, 45%); }
    20%      { color: hsl( 36, 80%, 45%); }
    30%      { color: hsl( 72, 75%, 35%); }
    40%      { color: hsl(108, 65%, 35%); }
    50%      { color: hsl(144, 75%, 35%); }
    60%      { color: hsl(180, 75%, 35%); }
    70%      { color: hsl(216, 60%, 45%); }
    80%      { color: hsl(252, 65%, 50%); }
    90%      { color: hsl(288, 60%, 40%); }
}
.navbar-brand {
    color: hsl(324, 70%, 45%);
    animation: wheelHueColor 100s infinite;
}
@font-face {
	font-family: "Ma Super Fonte";
	src: url('berkshireswash-regular.ttf');
}

/* TAILLE ET POLICE DU LOGO */
#titre_logo {
    font-family: "berkshireswash-regular";
    font-size: 1.5em;
    line-height: 2px;
}
.logo_g2r {
    font-weight: bolder;
    font-size: 1.5em;
}
h1#page_title{
    text-indent: 15px;
    font-size: 16px;
    margin: 10px 0;
}
/* COULEUR SUR LES LIENS DE NAV */
.nav-link {
    height: 100%;
    width: 200px;
    text-align: center;
    font-weight: bold;
}.nav-link:hover {
    color: #fff!important;
    background-color: #138496;
    border-radius: 5px;
}

/************** CAROUSSEL ****************/
.carousel-inner {
    width: auto;
    max-height: 450px;
    overflow: hidden;
}

/********* DPE *********/

#dpe img {
    width: 100%;
}

/******** FORMULAIRE ********/
form {
    z-index: 999999;
    width: 80%;
    margin: auto;
}
#contact_agence {
    background-color: #fff;
    box-shadow: 7px 7px 25px -6px grey;
    height: 560px;
}
#contact_agence h2 {
    text-align: center;
}
#phone {
    color: grey;
}
#contactAgenceButtonTop {
    display: none;
    max-width: 40%;
    color: #fff;
}
#contactAgenceButtonTop a {
    /* display: none; */
    color: #fff;
} 

/*********** FOOTER ****************/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    text-align: center;
    border-top: solid 1px grey;
}
.footer a{
    color: grey;
    font-size: 1.5rem;
}
.footer a:link{
    text-decoration: none;
}
.footer a:hover{
    color: black;
    transition: 400ms;
}

/********* Options *********/

#options img{
    height: 40px;
    width: 40px;
    float: left;
    margin: 0 15px;
}

/*------------------TAILLE DE LA MAP------------------------------*/
#map { height: 400px; }
